body{
    background-color: #ffffff;
    margin: 0 auto;
    max-height: 100vh;
}
.no-display{
    display: none;
}
header{
    border-bottom: 1px solid #f7f7f7;
    padding: 0 5px;
    /* margin-bottom: 30px; */
}
.header-size{
    font-size: 30px;
}
figure{
    text-align: center;
}
img{
    height: 45vh;
}
.text{
    text-align: center;
}
.text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-bottom: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.btn{
    background-color: #00973f;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 9px 22px;
    outline: none;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.question-text{
    margin-top: 20vh;
    }
.answer-btns{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 250px;
}
.false-btn, .true-btn{
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 5px 7px 3px #fafafa;
    cursor: pointer;
    padding: 9px 18px;
    outline: none;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (min-device-width: 320px) {
    
}